
<h2 mat-dialog-title>New Lecturer</h2>

<mat-dialog-content class="container-form">
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline"><mat-label>Username</mat-label><input matInput formControlName="username"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Full name</mat-label><input matInput formControlName="fullName"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Email</mat-label><input matInput formControlName="email"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Password</mat-label><input matInput type="password" formControlName="password"></mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary"
          [disabled]="form.invalid || loading"
          (click)="save()">
    Create
  </button>
</mat-dialog-actions>
