<section class="topbar">
  <mat-form-field appearance="outline" class="search">
    <mat-label>Search courses</mat-label>
    <input matInput [(ngModel)]="q" (ngModelChange)="applyFilter()" placeholder="e.g., CS101, Algorithms" />
  </mat-form-field>

  <button mat-raised-button color="primary"  class="button" *ngIf="isAdmin()" (click)="create()">
    <mat-icon>add</mat-icon>
    <span>New Course</span>
  </button>
</section>

<section class="grid" *ngIf="!loading; else skel">
  <mat-card class="course" *ngFor="let c of filtered">
    <div class="code">{{ c.code }}</div>
    <div class="title">{{ c.title }}</div>
    <div class="desc" *ngIf="c.description">{{ c.description }}</div>

    <div class="actions">
      <button mat-stroked-button (click)="view(c)">View</button>
      <button mat-flat-button color="accent" *ngIf="isStudent()" (click)="enroll(c)">Enroll</button>
    </div>
  </mat-card>

  <div class="empty" *ngIf="!filtered.length">
    No courses found.
  </div>
</section>

<ng-template #skel>
  <div class="grid">
    <mat-card class="course skeleton" *ngFor="let _ of [1,2,3,4,5,6]"></mat-card>
  </div>
</ng-template>
